:root {
  --swiper-navigation-size: 10px !important;
}
html,
body {
  padding: 0;
  margin: 0;
  /*direction: 'rtl';*/
  font-family: "BNazanin";
  /*-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,*/
  /*  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.MuiGrid-container > .MuiDivider-vertical.MuiDivider-flexItem {
  margin-right: -1px;
}

@font-face {
  font-family: "BNazanin";
  font-style: normal;
  src: local("BNazanin"), url("./assets/fonts/BNazanin.woff") format("woff");
}
